openapi: 3.2.0
info:
  title: Transit Locations API
  description: The Transit API delivers real-time public transit data - nearby routes and stops, stop departures, route details, multimodal trip planning, and service alerts - across 1,100+ cities in 37 countries, plus shared-mobility availability for bikes, scooters, and carshare.
  version: '3.0'
  contact:
    name: Transit Partnerships
    url: https://transitapp.com/partners/apis
    email: partners@transit.app
  x-logo:
    url: https://kinlane-images.s3.amazonaws.com/shared/apis-json/apis-json-logo.jpg
servers:
- url: https://external.transitapp.com/v3
  description: Transit public API v3
security:
- apiKeyAuth: []
tags:
- name: Locations
  description: Available transit networks and coverage near a location.
paths:
  /public/available_networks:
    get:
      operationId: getAvailableNetworks
      tags:
      - Locations
      summary: Get available networks near a location
      description: Discovers the transit networks and coverage available near a latitude/longitude - the agencies and systems Transit has data for in that location.
      x-modeled: true
      parameters:
      - name: lat
        in: query
        required: true
        description: Latitude of the search center (WGS84 decimal degrees).
        schema:
          type: number
          format: double
          example: 45.5088
      - name: lon
        in: query
        required: true
        description: Longitude of the search center (WGS84 decimal degrees).
        schema:
          type: number
          format: double
          example: -73.5878
      - name: Accept-Language
        in: header
        required: false
        description: Preferred response language (BCP 47).
        schema:
          type: string
          example: en
      responses:
        '200':
          description: Available transit networks near the location.
          content:
            application/json:
              schema:
                type: object
                properties:
                  networks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          type: integer
          example: 401
        message:
          type: string
          example: Invalid API key.
    Network:
      type: object
      properties:
        network_id:
          type: string
          example: STM
        network_name:
          type: string
          example: Société de transport de Montréal
        location_name:
          type: string
          example: Montreal
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded (free tier is 5 requests/minute, 1,500/month).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: apiKey
      description: Transit access key requested via Transit's API request form. Sent as the `apiKey` request header on every call.
